body {
  margin: 0 auto;
  width: 320px;
  background-color: #f3e6e4;
  box-shadow: 0 0 25px 0 rgba(0, 1, 1, 0.17);
  font-family: "ComfortaaRegular", "Arial", sans-serif;
  font-size: 18px; }
  @media (min-width: 660px) {
    body {
      width: 660px; } }
  @media (min-width: 1000px) {
    body {
      width: 1000px; } }

p {
  padding: 0;
  margin: 0; }

img {
  width: 100%;
  height: auto; }
  @media (min-width: 660px) {
    img {
      width: auto; } }

hr {
  height: 5px;
  background: linear-gradient(45deg, #FF3333, #FF6666, #FF9999);
  border: none; }
  @media (min-width: 1000px) {
    hr {
      margin-bottom: 70px; } }

.container {
  padding: 10px 0; }
